@model IEnumerable<Customer>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<a class="btn btn-sm btn-primary m-2" asp-action="ImportExcelFile" asp-controller="Excel">Upload File</a>
	<p class="text-center text-success font-weight-bold">@TempData["message"]</p>
	<div class="row">
		<div class=" col-8 offset-2">
			<table class="table table-bordered">
				<thead>
				<tr class="text-center">
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Gender</th>
					<th>Country</th>
					<th>Age</th>
				</tr>
				</thead>
				@foreach (var item in Model)
				{
						<tr class="text-center">
								<td>@item.id</td>
									<td>@item.firstname</td>
									<td>@item.lastname</td>
									<td>@item.gender</td>
									<td>@item.country</td>
									<td>@item.age</td>
						</tr>
				}
			</table>
		</div>
	</div>
</div>


